.card {
  &-footer {
    display: flex;
    justify-content: end;
  }
}

$colors: #a2b9bc, #6b5b95, #feb236, #d64161, #ff7b25, #b2ad7f, #878f99;

.avatar {
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-weight: 600;

  justify-self: end;
  margin-bottom: 0;
}

@for $i from 1 through length($colors) {
  .avatar:nth-child(#{length($colors)}n + #{$i}) {
    background: lighten(nth($colors, $i), 20%);
  }

  .mat-mdc-card-content,
  .mat-mdc-card-header {
    padding: 16px;
  }

  .mat-mdc-card-header {
    background-color: #d5d5d5;
  }

  .mat-mdc-card-footer {
    border-top: none;
    background-color: white;
  }
}
