.card {
  &-footer {
    display: flex;
    justify-content: end;
  }

  filter: drop-shadow(4px 2px 2px #a9a9a9);
}

.avatar {
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 600;

  justify-self: end;
  margin-bottom: 8px;

  filter: drop-shadow(4px 2px 2px #a9a9a9);
}

.mat-mdc-card-content,
.mat-mdc-card-header {
  padding: 16px;
}

.mat-mdc-card-header {
  padding-inline: 12px;
  padding-block: 4px;
  background-color: #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-card-title {
  font-size: 1rem;
}

.mat-mdc-card-footer {
  border-top: none;
  background-color: white;
}
