button {
    margin-left: 8px;
    margin-bottom: 8px;
}

.mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    
}

.mat-mdc-dialog-title {
    text-align: center;
    background-color: #673ab7;
    color: white;
}

.delete-btn{
    width: 20px;
}

.mat-mdc-raised-button>.mat-icon{
    margin-right: 0;
}