.card-title{
    color: var(--color-primary);
}

.card-body{
    /* height: 75vh; */
    height: min(75vh, fit-content);
}

.scrum-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mat-mdc-card-header{
    justify-content: center;
}

mat-card.cdk-drop-list-dragging {
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}
