.card-title {
  color: var(--color-primary);
}

hr {
  background-color: #e8e8e8;
}

.card-body {
  /* height: 75vh; */
  height: min(75vh, fit-content);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  background-color: #e8e8e8;
}

/* .mat-mdc-card-header[_ngcontent-ng-c2628714681] {
  justify-content: start;
} */

.container {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}

.left {
  flex: 1;
  text-align: left;
}

.right {
  flex: 0;
  text-align: right;
}
.scrum-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mat-mdc-card-header {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  /* justify-content: center; */
}
