<!-- <h2 class="text-center"></h2>
<div class="card">
  <div class="card-body">
    <div class="card-title text-center fw-bold fs-5">
      {{ columnName }}
    </div>
    <hr />
    <div class="scrum-items"></div>
  </div>
</div> -->

<mat-card>
  <mat-card-header>
    <mat-card-title class="text-center">
      {{ columnName }} ({{ cards.length }})
    </mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content class="card-body">
    <div class="scrum-items">
      @for (card of cards; track card.title) {
        <app-board-scrum-item
          [cardTitle]="card.title"
          [cardDescription]="card.description"></app-board-scrum-item>
      }
    </div>
  </mat-card-content>
</mat-card>
